footer {
    background-color: #F79D65;
}

#footer-items {
    display: flex;
    justify-content: space-between;
    padding: 0px 8% 24px 8%;
    align-items: center;
}


#copyright {
    color: #1d1d1d;
    opacity: 0.7;
    font-weight: 500;
}

@media screen and (max-width: 900px) {
    #footer-items {
    flex-direction: column-reverse;
    gap: 20px;
    }

}