@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

* {
  font-family: "Comfortaa", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    background-color: #563635;
}

section {
    padding: 28 8%;
}

.social-media-buttons {
    display: flex;
    gap: 18px;
}

.social-media-buttons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 40px;
    background-color: #FEFAE0;
    font-size: 1.25rem;
    border-radius: 10px;
    text-decoration: none;
    color: #1d1d1d;
    box-shadow: 0px 0px 12px 4px rgb(0,0,0,0.1);
    transition: box-shadow .3s ease, transform .3s ease;
}

.social-media-buttons a:hover {
    box-shadow: 0px 0px 12px 4px rgb(0,0,0,0.3);
    transform: scale(1.1);
}


 .link-project a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 40px;
    background-color: #FEFAE0;
    font-size: 1.25rem;
    border-radius: 10px;
    text-decoration: none;
    color: #1d1d1d;
    box-shadow: 0px 0px 12px 4px rgba(28, 188, 73, 0.422);
    transition: box-shadow .3s ease, transform .3s ease; 
}

.link-project a:hover {
    box-shadow: 0px 0px 12px 4px rgba(205, 134, 12, 0.897); 
    transform: scale(1.1); 
}

.section-title {
    color:#FEFAE0;
    font-size: 2.5rem;
    font-weight: 400;
    padding-bottom: 2.5rem;
    
}

.section-subtitle {
    color:#e67771;
    font-size: 2rem;
    padding-top: 5rem;
}